[submodule "Externals/gtest"]
	path = Externals/gtest
	url = https://chromium.googlesource.com/external/googletest.git
	ignore = all
[submodule "Externals/llvm"]
	path = Externals/llvm
	url = https://github.com/llvm-mirror/llvm.git
	branch = 591505d9ffc799e92a22bc5f13e3947193da6fa
	ignore = all
