*.opensdf
*.orig
*.rej
*.sdf
*.suo
*.user
/build*/
/Externals/android-cmake/*
/Externals/gtest/*
/Externals/llvm/*
/Externals/pcre/*
ipch
Utilities/Natvis/WNFramework.Natvis/bin
Utilities/Natvis/WNFramework.Natvis/obj
Utilities/Natvis/WNFramework.Natvis/Properties
