[submodule "Externals/gtest"]
	path = Externals/gtest
	url = https://chromium.googlesource.com/external/googletest.git
	ignore = all
[submodule "Externals/llvm"]
	path = Externals/llvm
	url = https://github.com/llvm-mirror/llvm.git
	branch = release_35
	ignore = all
