*.opensdf
*.orig
*.rej
*.sdf
*.suo
*.user
.vscode/*
.vs/*
.ycm_extra_conf.py
.ycm_extra_conf.pyc
/build*/
/Externals/android-cmake/*
/Externals/gtest/*
/Externals/llvm/*
/Externals/pcre/*
ipch
last_clobber.txt
