[submodule "googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest
	branch = master
	ignore = dirty
	shallow = true
[submodule "re2"]
	path = externals/re2
	url = https://github.com/google/re2
	branch = master
	ignore = dirty
	shallow = true
[submodule "effcee"]
	path = externals/effcee
	url = https://github.com/google/effcee
	branch = main
	ignore = dirty
	shallow = true
[submodule "vulkan-headers"]
	path = externals/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	branch = master
	ignore = dirty
	shallow = true
[submodule "llvm-project"]
	path = externals/llvm-project
	url = https://github.com/llvm/llvm-project
	branch = release/11.x
	ignore = dirty
	shallow = true
[submodule "stb"]
	path = externals/stb
	url = https://github.com/nothings/stb
	branch = master
	ignore = dirty
	shallow = true
[submodule "xxhash"]
	path = externals/xxhash
	url = https://github.com/Cyan4973/xxHash
	branch = release
	ignore = dirty
	shallow = true
[submodule "rapidjson"]
	path = externals/rapidjson
	url = https://github.com/Tencent/rapidjson
	branch = master
	ignore = dirty
	shallow = true
[submodule "tracy"]
	path = externals/tracy
	url = https://github.com/wolfpld/tracy
	branch = master
	ignore = dirty
	shallow = true
