/Externals/bin
/Externals/llvm
/Externals/gtest
/Externals/pcre
/Libraries/bin
/Libraries/*/build
/Libraries/*/test/build
/Tools/bin
/Tools/*/build
/Tools/*/test/build
ipch
*.opensdf
*.sdf
*.suo
*.user
